.tab-description-container{
    display: flex;
    min-width: 100px;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
  }
  .description-content-container{
    padding-bottom: 50px;
  }
  .description p{
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .image-container img{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  